# Quarto - Archivos generados
/.quarto/
/_site/
/site_libs/
*_files/

# Python / Jupyter
__pycache__/
.ipynb_checkpoints/
.virtualenv/
.env
venv/

# Sistema y VS Code
.DS_Store
.vscode/

**/*.quarto_ipynb
